extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Noah Pope

        p.lead.text-light
          | Junior Full Stack Developer.

        .portfolio-bio
          p
            | I am a Junior Full Stack developer, skilled in several relevant technologies and techniques.
            | These include, Git, CLI, NodeJS, and AJAX.
            | I'm also knowledgeable of all the development cycle stages.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li React
          li HTML
          li CSS
          li JavaScript
          li JQuery
          li Express
          li AJAX

        h6 Contact Info

        ul
          li +1 (646) 284-8392
          li nlpope@tutanota.com

        a.button.expanded(href='https://www.linkedin.com/in/nlpope/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/nlpope' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back